/* Tipografía */
@font-face {
  font-family: "telegraf";
  src: url("../assets/fonts/Telegraf-Regular.woff") format("woff");
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: black;
  --primary: white;
  --secondary: #cfd704;
  /* Typography */
  --font-family: "Telegraf";
}

/****************************************
*    Base - Elements
*****************************************/
body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-family);
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary);
  /*  font-family: var(--font-family-light); */
}

/****************************************
*    Componentes
*****************************************/
/* Header */
.header img {
  max-width: 55px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 100px;
  padding-right: 60px;
  padding-left: 60px;
  max-width: 100vw;
  margin: 0 auto;
}

.quienes a {
  font-size: 113px;
  color: #cfd704;
}

.parrafo {
  padding-top: 20px;
}
.logo {
  display: flex;
  align-items: flex-end;
}

.logo a {
  font-size: 20px;
  padding-bottom: 7px;
  padding-left: 10px;
}

.quienes p {
  font-size: 22px;
  padding-top: 25px;
  padding-left: 345px;
  padding-right: 200px;
}

.quienes {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}

/* Nav */
.nav {
  padding: 0;
  font-family: var(--font-family-italic);
  padding-bottom: 7px;
}

.nav > * {
  padding-left: 6em;
  padding-bottom: 7px;
}

/* Footer */
.footer {
  margin-top: 6em;
}

.footer p {
  /*  color: rgb(78, 78, 248); */
  font-size: 14px;
  font-family: var(--font-family-light);
  padding-left: 60px;
}

/* Proyectos */
.proyectos {
  margin: auto;
  padding-left: 35px;
}

.proyectos img {
  filter: blur(5px);
  transition-duration: 0.2s;
  padding-top: 25px;
}

.proyectos img:hover {
  filter: blur(0);
}

/* Contacto */
.contacto {
  height: 100%;
  max-width: 60vw;
  padding-left: 20px;
}

.contacto > * {
  padding-top: 30px;
}

.contacto h2 {
  font-family: var(--font-family);
  font-size: 32px;
}

.contacto p {
  font-family: var(--font-family-everett);
  font-size: 13px;
  /* line-height: 1; */
  text-align: justify;
}

/* Proyecto */
.slider {
  display: flex;
  max-width: max-content;
  margin: 10vh auto 0;
}

.imagenes {
  width: 380px;
  height: 480px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  order: 2;
}

.imagen {
  position: absolute;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: all 0.6s;
  transform: translatex(-200%);
}

.imagen.next + .imagen {
  transform: translatex(200%);
}

.imagen.anterior {
  z-index: 10;
  transform: translatex(-100%);
}

.imagen.actual {
  z-index: 10;
  transform: translatex(0);
}

.slide.siguiente {
  z-index: 10;
  transform: translatex(100%);
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  opacity: 0.5;
}

button:first-child {
  order: 1;
}

button:last-child {
  order: 3;
  transform: rotate(180deg);
}

/****************************************
*    Proyecto
*****************************************/
.textoytitulo {
  padding-top: 29px;
  padding-left: 29px;
  padding-right: 29px;
  text-align: justify;
}
.contenido img {
  max-width: 400px;
  margin: auto;
}

.texto {
  font-size: 13px;
  font-family: var(--font-family-everett);
}
.titulo {
  font-size: 32px;
  padding-bottom: 20px;
}
